.message-in-play-screen{
  background-color: #9C9C9C;
  color:white;
  word-wrap: break-word;
  width: 200px;
  justify-content: end;
}
.message-other{
  margin-left:200px;
  /* display: flex;
  justify-content: end; */
}